#main {
	padding-top: 60px;
	padding-left: 60px;
	font-family: Arial;
}

h1 {
	font-size: 20px;
}

.score {
	font-family: Arial;
	font-size: 30px;
	padding-left: 60px;
	padding-top: 60px;
	color: blue;
}